fastapi
uvicorn
python-dotenv
sentence-transformers
faiss-cpu
rank-bm25
scikit-learn
pydantic
requests
sqlite-utils
numpy
streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
tiktoken
pymupdf
pandas
